@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

:root {
  background: #F5FEFF;
}

body {
  font-family: 'Lato';
}

form {
  display: inline-block;
}

.logo {
  /* Logo svg */
  position: absolute;
  width: 306px;
  height: 112px;
  left: 960px;
  top: 100px;
}

.ip {
  /* IP form */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px 10px;
  gap: 2px;

  box-sizing: border-box;

  position: absolute;
  width: 158px;
  height: 26px;
  left: 316px;
  top: 273px;

  background: #FFFFFF;
  border: 1px solid #93C6E7;
  border-radius: 5px;
}

.connect {
  /* Connect button */
  width: 73px;
  height: 14px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2em;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  gap: 2px;

  position: absolute;
  width: 112px;
  height: 26px;
  left: 487px;
  top: 273px;

  background: #82AAE3;
  border-radius: 5px;
  border:0;
  cursor: pointer;
  transition: 0.30s;
}

.connect:hover {
  background: #7993B7;
}

.error {
  /* Error message */
  position: absolute;
  width: 114px;
  height: 14px;
  left: 326px;
  top: 255px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;

  color: #FF7373;
}

.indication {
  /* LED indicator */
  position: absolute;
  width: 10px;
  height: 10px;
  left: 316px;
  top: 335px;
  z-index:99999999;
}

.connected {
  /* LED if connected */
  border-radius: 50%;
  background: linear-gradient(180deg, #03C988 0%, rgba(3, 201, 136, 0) 100%);
}

.disconnected {
  /* LED if disconnected */
  border-radius: 50%;
  background: linear-gradient(180deg, #8aa19a 0%, rgba(3, 201, 136, 0) 100%);
}

.connecting {
  /* LED if connecting */
  border-radius: 50%;
  background: linear-gradient(180deg, #e6d923 0%, rgba(3, 201, 136, 0) 100%);
}

.info {
  /* LED if connected */
  position: absolute;
  width: 50px;
  height: 10px;
  left: 335px;
  top: 335px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
  line-height: 10px;
  text-align: left;

  color: #7D73A1;
  z-index:99999999;
}

.device {
  /* Device svg */
  position: absolute;
  width: 1052px;
  height: 167px;
  left: 214px;
  top: 316px;
}

.status {
  /* Port status */
  position: absolute;
  width: 19px;
  height: 19px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
}

.up {
  /* Port up */
  color: #03C988;
  text-shadow: 0px 0px 3px #03C988;
}

.down {
  /* Port down */
  color: #ffffff;
}
