@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');


:root {
  background: #F5FEFF;
}

body {
  font-family: 'Lato';
}

.logo {
  position: absolute;
  width: 306px;
  height: 112px;
  left: 960px; /* на глаз */
  top: 100px;
}

.device {
  position: absolute;
  width: 1052px;
  height: 167px;
  left: 214px;
  top: 316px;
}

form {
  display: inline-block;
}

.ip {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px 10px;
  gap: 2px;

  /* IP Form */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px 10px;
  gap: 2px;

  position: absolute;
  width: 158px;
  height: 26px;
  left: 316px;
  top: 273px;

  background: #FFFFFF;
  border: 1px solid #93C6E7;
  border-radius: 5px;
}

.connect {
  width: 73px;
  height: 14px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.2em;

  color: #FFFFFF;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  gap: 2px;

  position: absolute;
  width: 112px;
  height: 26px;
  left: 487px;
  top: 273px;

  background: #82AAE3;
  border-radius: 5px;
  border:0;
  cursor: pointer;
  transition: 0.30s;
}

.connect:hover {
  background: #7993B7;
}

.error {
  /* Error message */

  position: absolute;
  width: 114px;
  height: 14px;
  left: 326px;
  top: 255px;

  /* IP address is not valid. */

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;

  color: #FF7373;
}

.indication {
  position: absolute;
  width: 10px;
  height: 10px;
  left: 316px;
  top: 335px;
}

.on {
  border-radius: 50%;
  background: linear-gradient(180deg, #03C988 0%, rgba(3, 201, 136, 0) 100%);
}

.off {
  border-radius: 50%;
  background: linear-gradient(180deg, #8aa19a 0%, rgba(3, 201, 136, 0) 100%);
}

.status {
  position: absolute;
  width: 19px;
  height: 19px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;

}

.up {
  color: #03C988;
  text-shadow: 0px 0px 3px #03C988;
}

.down {
  color: #ffffff;
}

.port-ge0_0 {
  left: 746px;
  top: 373px;
}

.port-ge0_1 {
  left: 746px;
  top: 422px;
}

.port-ge0_2 {
  left: 795px;
  top: 373px;
}

.port-ge0_3 {
  left: 795px;
  top: 422px;
}

.port-ge1_0 {
  left: 844px;
  top: 373px;
}

.port-ge1_1 {
  left: 844px;
  top: 422px;
}

.port-ge1_2 {
  left: 893px;
  top: 373px;
}

.port-ge1_3 {
  left: 893px;
  top: 422px;
}

.port-ge2_0 {
  left: 942px;
  top: 373px;
}

.port-ge2_1 {
  left: 942px;
  top: 422px;
}

.port-ge2_2 {
  left: 991px;
  top: 373px;
}

.port-ge2_3 {
  left: 991px;
  top: 422px;
}

.port-ge3_0 {
  left: 1040px;
  top: 373px;
}

.port-ge3_1 {
  left: 1040px;
  top: 422px;
}

.port-ge3_2 {
  left: 1089px;
  top: 373px;
}

.port-ge3_3 {
  left: 1089px;
  top: 422px;
}
