/* Ports position for 16 GE ports switch */
#port-ge0_0 {
  left: 746px;
  top: 373px;
}

#port-ge0_1 {
  left: 746px;
  top: 422px;
}

#port-ge0_2 {
  left: 795px;
  top: 373px;
}

#port-ge0_3 {
  left: 795px;
  top: 422px;
}

#port-ge1_0 {
  left: 844px;
  top: 373px;
}

#port-ge1_1 {
  left: 844px;
  top: 422px;
}

#port-ge1_2 {
  left: 893px;
  top: 373px;
}

#port-ge1_3 {
  left: 893px;
  top: 422px;
}

#port-ge2_0 {
  left: 942px;
  top: 373px;
}

#port-ge2_1 {
  left: 942px;
  top: 422px;
}

#port-ge2_2 {
  left: 991px;
  top: 373px;
}

#port-ge2_3 {
  left: 991px;
  top: 422px;
}

#port-ge3_0 {
  left: 1040px;
  top: 373px;
}

#port-ge3_1 {
  left: 1040px;
  top: 422px;
}

#port-ge3_2 {
  left: 1089px;
  top: 373px;
}

#port-ge3_3 {
  left: 1089px;
  top: 422px;
}
